*~
.DS_Store
/target/
/.lib/
/.cache
.*.swp
.idea
.idea_modules
.history
/project/target/
/project/project/
/.project
/.classpath
/.worksheet/
/.settings/
/src/main/resources/commits.txt
/src/main/webapp/Jit/
/commits/
/doc/build/

doc/TSWLatexianTemp_github-relations-viz.tex

doc/TSWLatexianTemp_github-relations-viz.pdf

doc/TSWLatexianTemp_github-relations-viz.out

doc/TSWLatexianTemp_github-relations-viz.log

doc/TSWLatexianTemp_github-relations-viz.aux

*.aux

*.bbl

*.blg

doc/TSWLatexianTemp_000255.log

doc/TSWLatexianTemp_000255.out

doc/TSWLatexianTemp_000255.pdf

doc/TSWLatexianTemp_000255.synctex

doc/TSWLatexianTemp_000255.tex

actorConf.txt
